.card{
  width: 400px;
  border: 1px solid;
  padding: 10px;
  border-radius: 10px;
}
.card button{
  padding: 10px;
}
.card img{
  width: 100px;
  height: 100px;
  border: 0.5px solid black;
  border-radius: 50%;
  object-fit: cover;
}