* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}
html,
body {
    height: 100%;
    width: 100%;
}

.parent{
  min-height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
  flex-wrap: wrap;
}
.card {
width: 360px;
background: #ffffff;
border-radius: 24px;
padding: 20px;
box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
position: relative;
}

.card img {
width: 100%;
height: 220px;
object-fit: cover;
border-radius: 20px;
}

.title {
font-size: 22px;
font-weight: 600;
margin: 16px 0 8px;
color: #333;
}

.tags {
display: flex;
gap: 12px;
font-size: 12px;
color: #333333;
margin-bottom: 12px;
}
.tags span{
    background-color: rgb(168, 167, 167);
    padding: 2px;
    border-radius: 7px;
}


.desc {
font-size: 14px;
color: #777;
margin-bottom: 12px;
}


.toppings {
display: flex;
gap: 10px;
margin-bottom: 16px;
}


.toppings span {
font-size: 12px;
padding: 6px 12px;
border-radius: 20px;
background: #f3f3f3;
color: #555;
}


.bottom {
display: flex;
justify-content: space-between;
align-items: center;
}


.price {
font-size: 22px;
font-weight: 600;
color: #f4a000;
}


.delivery {
font-size: 12px;
color: #999;
}


.btn {
padding: 12px 24px;
background: linear-gradient(135deg, #ffc107, #ff9800);
border: none;
border-radius: 5px;
}