.light{
    display: flex;
    background-color: aqua;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.dark{
    display: flex;
    background-color: rgb(56, 65, 65);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.nav2{
    display: flex;
    gap:10px;
}